* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

body h1 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
}

body h2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
body p {
  font-family: sans-serif;
  font-size: 16px;
}

.app {
  height: 100vh;
  width: 100vw;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-video {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.card {
  background: linear-gradient(
    30deg,
    rgba(52, 18, 116, 1) 0%,
    rgba(71, 33, 141, 1) 21%,
    rgba(195, 26, 141, 1) 61%
  );
  width: 750px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 20px 12px black, inset 0 0 3px 2px black;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  background-color: #1a1c1f;
  color: white;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 40px;
  gap: 50px;
}

.nft-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  object-fit: contain;
}

.information {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.information-header-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-interactions-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.information-header {
  font-size: 3rem;
}

.button {
  padding: 12px 40px;
  width: 100%;
  background-color: #54bcd4;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.connect {
  background-color: #54bcd4;
}

.mint {
  background-color: rgb(128, 0, 109);
}

.progress {
  background-color: white;
  color: black;
}

.open-sea {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

.openSeaLogo {
  width: 40px;
  height: 40px;
  margin: 0px 7px;
}

.minting-success {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer {
  background: linear-gradient(90deg, #456ffc 0%, #7145fc 69%);
  color: white;
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
